boto==2.49.0
boto3==1.12.40
botocore==1.15.40
bz2file==0.98
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
cycler==0.10.0
decorator==4.4.2
docutils==0.15.2
gensim==3.8.2
idna==2.9
isodate==0.6.0
jmespath==0.9.5
joblib==1.2.0
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
nltk==3.5
numpy==1.18.2
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
rdflib==4.2.2
regex==2020.4.4
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
smart-open==1.11.1
torch==1.4.0
tqdm==4.45.0
urllib3==1.26.5
-e git://github.com/lgalke/vec4ir.git@10bbd7c843fe7db6af20b9752732bf0584b23bce#egg=vec4ir&subdirectory=../../../resuggest/vec4ir
